<div class="container" >
	
<!-- <pre>{{vm.countries | json}}</pre> -->
<!-- <pre>{{vm.parts | json}}</pre>
<pre>{{vm.parts.length | json}}</pre> -->


	  <div class="pull-right">
	  	<a href="#!/update">
	  		<button type="button" class="btn btn-primary ">
	  			<span class="glyphicon glyphicon-plus-sign"></span> Add Trucks Parts
	  		</button>
	    	</a>
	  </div>

	<div ng-if="vm.parts.length > 0">
		<table class="table table-bordered table-hover">
			  <tr>
			  	<th>Name</th>
			  	<th>Contact</th>			  	
			  	<th>Country</th>
			  	<th>Description</th>
			  	<th>Edit</th>
			  	<th>Delete</th>
			  </tr>					
			  <tr ng-repeat="part in vm.parts">
			  	<td>{{part.partname}}</td>
			  	<td>{{part.email}}</td>
			  	<td>{{part.country.name}} ({{part.country.code}})</td>
			  	
			  	<td>{{part.description}}</td>
			  	<td class="text-center"><a href="#!/update/{{part.id}}"><button type="button" class="btn btn-primary  "><span class="glyphicon glyphicon-pencil"></span></button></a></td>
			  	<td class="text-center"><button type="button" class="btn btn-primary " ng-click="deletUser(user.id)"><span class="glyphicon glyphicon-trash"></span></button></a></td>
			  	
			  </tr>
		</table>
	</div>  
	


</div>