<div class="container" >
	
<!-- <pre>{{vm.countries | json}}</pre> -->
<!-- <pre>{{vm.parts | json}}</pre>
 -->



 <div class="alert alert-info" ng-if="vm.parts.length === 0">
  <strong>Info!</strong> Currenltly We dont contain any material items in our shop,  click here to
   <a href="#!/update">
		 Add Trucks Parts now.
	</a>
 </div>

 
	 

	<div ng-if="vm.parts.length > 0">
		<div class="row"> 	 
	 	  <div class="pull-right">
		  	<a href="#!/update">
		  		<button type="button" class="btn btn-primary ">
		  			<span class="glyphicon glyphicon-plus-sign"></span> Add Trucks Parts
		  		</button>
		    </a>
		 </div>
 		</div>
		<table class="table table-bordered table-hover">
			  <tr>
			  	<th>S.No</th>
			  	<th>Name</th>
			  	<th>Contact</th>			  	
			  	<th>Country</th>
			  	<th>Description</th>
			  	<th>Edit</th>
			  	<th>Delete</th>
			  </tr>					
			  <tr ng-repeat="part in vm.parts">
			  	<td>{{$index + 1}}</td>
			  	<td>{{part.partname}}</td>
			  	<td>{{part.email}}</td>
			  	<td>{{part.country.name}} ({{part.country.code}})</td>
			  	
			  	<td>{{part.description}}</td>
			  	<td class="text-center"><a href="#!/update/{{$index + 1}}"><button type="button" class="btn btn-primary  "><span class="glyphicon glyphicon-pencil"></span></button></a></td>
			  	<td class="text-center"><button type="button" class="btn btn-primary " ng-click="deletParts($index + 1)"><span class="glyphicon glyphicon-trash"></span></button></a></td>
			  	
			  </tr>
		</table>
	</div>  
	


</div>